@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <h4>segundo examen parcial</h4>
        <h4>Carnet: 2017PL651 Nombre: Jaime Alberto Portillo Luna</h4>
    </div>

    <div class="gallery">
        <img src="https://storageparcial2017pl651.blob.core.windows.net/gallery/fondo.jpg"/>
        <img src="https://storageparcial2017pl651.blob.core.windows.net/gallery/panoramica.jpg"/>
        <img src="https://storageparcial2017pl651.blob.core.windows.net/gallery/principal.jpg"/>
        <img src="https://storageparcial2017pl651.blob.core.windows.net/gallery/UNICAES_Logo.png"/>
        <img src="https://storageparcial2017pl651.blob.core.windows.net/gallery/unicaes.jpg"/>
    </div>